// https://la-cascade.io/pourquoi-height-100-ne-marche-pas/
html, body, app-root, mat-sidenav-container, mat-sidenav-content, #bike_map{
  height: 100%;
  width: 100%;
}

#bike_map {
  display: flex;
  align-items: center;
  justify-content: center;
}

#login, #logout {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

#enable_draw, #disable_draw {
  position: absolute;
  bottom: 0px;
  z-index: 1;
}
