<mat-sidenav-container>
  <mat-sidenav mode="side" position="end" [opened]="featureSelected()">
    <div id="mat-sidenav">
      <button id="start_modification"
              *ngIf="interactionState === InteractionState.Consulting"
              mat-flat-button color="primary" (click)="startModification()">Modifier
      </button>
      <button id="cancel_modification"
              *ngIf="interactionState === InteractionState.Modifying"
              mat-flat-button color="warn" (click)="cancelEdition()">Annuler
      </button>
      <button id="cancel_creation"
              *ngIf="interactionState === InteractionState.Creating"
              mat-flat-button color="warn" (click)="cancelEdition()">Annuler la création
      </button>

      <mat-card>
        Distance : {{selectedPathDistance}}km
      </mat-card>

      <!-- Don't use *ngIf because otherwise the canvas elements
      are not created fast enough to be accessible from controller -->
      <div [hidden]="!existingFeatureSelected()">
        <mat-card>
          <p>Notes moyennes ({{ratings}}) :</p>
          <div class="ratings">
            Sécurité : {{averageSecurityRating !== undefined ? averageSecurityRating + '/5' : '?'}}
            <canvas style="float: right" id="securityRatingCanvas" height="20px" width="20px"></canvas>
            <br>
            Jolitude : {{averageNicenessRating !== undefined ? averageNicenessRating + '/5' : '?'}}
            <canvas style="float: right" id="nicenessRatingCanvas" height="20px" width="20px"></canvas>
          </div>
        </mat-card>
      </div>

      <mat-card
        *ngIf="featureModified()">
        <p>Mon avis :</p>
        <div class="ratings">
          Piste sécurisée ?
          <bar-rating
            [(rate)]="securityRating"
            max="5" (rateChange)="onChangeRating()"></bar-rating>
          <br>
          Jolie balade ?
          <bar-rating
            [(rate)]="nicenessRating"
            max="5" (rateChange)="onChangeRating()"></bar-rating>
        </div>
      </mat-card>

      <button id="validate_modification"
              *ngIf="interactionState === InteractionState.Modifying"
              mat-flat-button color="accent" (click)="validateEdition()">Valider
      </button>
      <button id="validate_creation"
              *ngIf="interactionState === InteractionState.Creating"
              mat-flat-button color="accent" (click)="validateEdition()">Créer le chemin
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div id="bike_map">
      <div *ngIf="user">
        <button id="logout"
                mat-mini-fab
                color="accent"
                matTooltip="Se déconnecter de {{user.email}}"
                (click)="logout()">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
      <div *ngIf="!user">
        <button id="login"
                mat-mini-fab
                color="warn"
                matTooltip="Se connecter"
                (click)="login()">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>

      <button id="enable_draw"
              *ngIf="interactionState === InteractionState.Browsing"
              mat-flat-button
              color="primary"
              (click)="startDrawing()">
        Ajouter un chemin
      </button>
      <button id="disable_draw"
              *ngIf="interactionState === InteractionState.Drawing"
              mat-flat-button
              color="warn"
              (click)="cancelDrawing()">
        Annuler le tracé
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
