/* You can add global styles to this file, and also import other style files */
.ol-custom {
  top: 4.5em;
  left: .5em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
